<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="textEdit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="第N章/回" value="(\s*?)第.{1,7}[章回]" />
		<add key="（N）" value="(\s*?)[（\(].{1,7}[）\)]" />
		<add key="N" value="^(\s*?)\d+" />
	</appSettings>
	
 <userSettings>
  <textEdit.Properties.Settings>
   <setting name="DuanWei" serializeAs="String">
    <value>(.*?)[\.\'\?。？”’！」：…＊）】]$</value>
   </setting>
  </textEdit.Properties.Settings>
 </userSettings>
</configuration>